---
import type { HTMLAttributes } from "astro/types";
import { cn } from "#/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
  {...rest}
  data-slot="combobox-list"
  class={cn(
    "no-scrollbar max-h-[min(calc(--spacing(72)---spacing(9)),calc(var(--available-height)---spacing(9)))] scroll-py-1 overflow-y-auto p-1 data-empty:p-0 max-h-[min(18rem,calc(var(--available-height)-var(--anchor-height)))] overscroll-contain",
    className,
  )}
>
  <slot />
</div>
