---
import type { HTMLAttributes } from "astro/types";
import { cn } from "#/lib/utils";

interface Props extends HTMLAttributes<"span"> {
  class?: string;
  placeholder?: string;
}

const {
  class: className = "",
  placeholder = "",
  ...rest
} = Astro.props as Props;
---

<span
  {...rest}
  data-slot="combobox-value"
  data-placeholder={placeholder}
  class={cn("", "block truncate pointer-events-none", className)}
>{placeholder}</span>
