---
import type { HTMLAttributes } from "astro/types";
import { cn } from "#/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
  {...rest}
  role="group"
  data-slot="combobox-group"
  class={cn("", "scroll-my-1", className)}
>
  <slot />
</div>
