---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<main
	class:list={["layout-base gap-unrelated-tight pt-margins-tight pb-unrelated flex-1", className]}
>
	<slot />
</main>
