---
import {
	NavigationMenuContent,
	NavigationMenuTrigger,
} from '#/components/ui/navigation-menu';
---

<NavigationMenuTrigger
	class="hover:bg-secondary focus:bg-secondary data-open:hover:bg-secondary data-open:focus:bg-secondary data-open:bg-secondary/50"
>
	<slot name="label" />
</NavigationMenuTrigger>
<NavigationMenuContent>
	<div class="flex flex-col gap-2 p-2">
		<slot />
	</div>
</NavigationMenuContent>
