---
import {
	NavigationMenu,
	NavigationMenuItem,
	NavigationMenuList,
	navigationMenuTriggerStyle,
} from '#/components/ui/navigation-menu';
import type { NavigationEntry } from '#/content/types/navigation';
import { cn } from '#/lib/utils';

import Group from './Group.astro';
import Link from './Link.astro';

interface Props {
	navigationEntries: NavigationEntry[];
}

const { navigationEntries } = Astro.props;
---

<NavigationMenu class="max-lg:hidden" aria-label="full-screen">
	<NavigationMenuList class="flex-wrap justify-end gap-2">
		{navigationEntries.map((entry) => (
  		<NavigationMenuItem value={entry.label}>
        {entry.navigationEntryType === 'group' ?
          <Group>
            <span slot="label" class="uppercase tracking-[0.07rem]">{entry.label}</span>
            {entry.children.map((childEntry) => <Link entry={childEntry} class='text-base'/>)}
          </Group>
        : <Link {entry} class={cn(navigationMenuTriggerStyle(), "uppercase tracking-[0.07rem]")}/>
        }
      </NavigationMenuItem>
    ))}
	</NavigationMenuList>
</NavigationMenu>
