---
import { cn } from "#/lib/utils";
import type { HTMLAttributes } from "astro/types";

type TooltipSide =
  | "top"
  | "bottom"
  | "left"
  | "right"
  | "inline-start"
  | "inline-end";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
  sideOffset?: number;
  side?: TooltipSide;
  align?: "start" | "center" | "end";
  alignOffset?: number;
}

const {
  class: className = "",
  sideOffset,
  side = "top",
  align = "center",
  alignOffset,
  ...rest
} = Astro.props as Props;
---

<div data-slot="tooltip-portal">
  <div data-slot="tooltip-positioner" class="isolate z-50">
    <div
      {...rest}
      hidden
      data-slot="tooltip-content"
      data-side={side}
      data-side-offset={sideOffset}
      data-align={align}
      data-align-offset={alignOffset}
      class={cn(
        "relative pointer-events-none data-open:pointer-events-auto data-closed:pointer-events-none data-open:animate-in data-open:fade-in-0 data-open:zoom-in-95 data-[state=delayed-open]:animate-in data-[state=delayed-open]:fade-in-0 data-[state=delayed-open]:zoom-in-95 data-closed:animate-out data-closed:fade-out-0 data-closed:zoom-out-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 inline-flex items-center gap-1.5 rounded-md px-3 py-1.5 text-xs has-data-[slot=kbd]:pr-1.5 **:data-[slot=kbd]:relative **:data-[slot=kbd]:isolate **:data-[slot=kbd]:z-50 **:data-[slot=kbd]:rounded-sm rounded-lg shadow-md data-[side=inline-start]:slide-in-from-right-2 data-[side=inline-end]:slide-in-from-left-2 z-50 w-fit max-w-xs origin-(--transform-origin) bg-foreground text-background",
        className,
      )}
    >
      <slot />
      <div
        data-slot="tooltip-arrow"
        class={cn(
          "absolute size-2.5 rotate-45 rounded-[2px] data-[side=top]:-bottom-1 data-[side=bottom]:-top-1 data-[side=left]:-right-1 data-[side=left]:translate-x-[-1.5px] data-[side=right]:-left-1 data-[side=right]:translate-x-[1.5px] data-[side=inline-start]:-right-1 data-[side=inline-start]:translate-x-[-1.5px] data-[side=inline-end]:-left-1 data-[side=inline-end]:translate-x-[1.5px] z-50 bg-foreground fill-foreground",
          "data-[side=top]:-bottom-1",
          "data-[side=bottom]:-top-1",
          "data-[side=left]:-right-1",
          "data-[side=right]:-left-1",
        )}
      >
      </div>
    </div>
  </div>
</div>
