---
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";
import { cn } from "#/lib/utils";

type Align = "inline-start" | "inline-end" | "block-start" | "block-end";

interface Props extends HTMLAttributes<"div"> {
  align?: Align;
  class?: string;
}

const {
  align = "inline-start",
  class: className = "",
  ...rest
} = Astro.props as Props;

const addonVariants = cva(
  "text-muted-foreground h-auto gap-2 py-1.5 text-sm font-medium group-data-[disabled=true]/input-group:opacity-50 [&>kbd]:rounded-[calc(var(--radius)-5px)] [&>svg:not([class*='size-'])]:size-4 flex cursor-text items-center justify-center select-none",
  {
    variants: {
      align: {
        "inline-start":
          "pl-2 has-[>button]:-ml-1 has-[>kbd]:ml-[-0.15rem] order-first",
        "inline-end":
          "pr-2 has-[>button]:-mr-1 has-[>kbd]:mr-[-0.15rem] order-last",
        "block-start":
          "px-2.5 pt-2 group-has-[>input]/input-group:pt-2 [.border-b]:pb-2 order-first w-full justify-start",
        "block-end":
          "px-2.5 pb-2 group-has-[>input]/input-group:pb-2 [.border-t]:pt-2 order-last w-full justify-start",
      },
    },
    defaultVariants: {
      align: "inline-start",
    },
  },
);
---

<div
  {...rest}
  role="group"
  data-slot="input-group-addon"
  data-align={align}
  class={cn(addonVariants({ align }), className)}
>
  <slot />
</div>
