---
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";
import { cn } from "#/lib/utils";
import { Button } from "../button";

type GroupButtonSize = "xs" | "sm" | "icon-xs" | "icon-sm";

interface Props extends HTMLAttributes<"button"> {
  size?: GroupButtonSize;
  variant?:
  | "default"
  | "secondary"
  | "outline"
  | "ghost"
  | "destructive"
  | "link";
  type?: "button" | "submit" | "reset";
  class?: string;
}

const {
  size = "xs",
  variant = "ghost",
  type = "button",
  class: className = "",
  ...rest
} = Astro.props as Props;

const inputGroupButtonVariants = cva(
  "gap-2 text-sm flex items-center shadow-none",
  {
    variants: {
      size: {
        xs: "h-6 gap-1 rounded-[calc(var(--radius)-5px)] px-1.5 [&>svg:not([class*='size-'])]:size-3.5",
        sm: "",
        "icon-xs":
          "size-6 rounded-[calc(var(--radius)-5px)] p-0 has-[>svg]:p-0",
        "icon-sm": "size-8 p-0 has-[>svg]:p-0",
      },
    },
    defaultVariants: {
      size: "xs",
    },
  },
);
---

<Button
  type={type}
  data-size={size}
  variant={variant}
  data-slot="input-group-button"
  class={cn(inputGroupButtonVariants({ size }), className)}
  {...rest}
>
  <slot />
</Button>
