---
import { Image } from 'astro:assets';

import { Button } from '#/components/ui/button';
import { getConfig } from '#/content/getters';
import { BaseLayout } from '#/layouts';
import { getImage } from '#/lib/getImage';

const siteConfig = await getConfig('site');
const { hero, cta } = await getConfig('homepage');

const bgImg = getImage(hero?.bgImage);
---

<BaseLayout pageTitle="Home">
	<main class="relative min-h-svh">
		<h1 class="sr-only">
			{siteConfig.churchName}
		</h1>
		<section
			class="grid min-h-svh w-full bg-cover bg-right"
			aria-labelledby="hero-heading"
		>
			{bgImg && (
			  <>
			    <Image
						src={bgImg}
						alt={'Homepage Background'}
						class="absolute inset-0 h-full w-full object-cover"
						priority
					/>
					<div
            class="bg-muted z-5 col-start-1 row-start-1 h-full w-full opacity-85"
            aria-hidden="true"
          />
			</>
		)}

			<div
				class="layout-base isolate z-20 col-start-1 row-start-1 gap-y-related"
			>
				<!-- biome-ignore lint/a11y/useHeadingContent: Content is provided via set:html -->
				<h2 class="typo-hero" set:html={hero?.text.code} />
				{cta?.text && (
            <Button
              as='a'
              variant={'secondary'}
              target={'_blank'}
              rel={'noopener noreferrer'}
              class={'uppercase tracking-widest whitespace-normal font-semibold h-auto w-full rounded-md text-center cursor-pointer text-xs md:text-sm'}
            >{cta.text.code}</Button>
          )}
			</div>
		</section>
	</main>
</BaseLayout>
