---
import Layout from '#/layouts/Layout.astro';
---

<Layout pageTitle="Theme">
	<main class="layout-base py-16">
		<h1 class="typo-hero mb-16">
			We exist to be and make{' '}
			<span class="text-primary">eternally joyful disciples</span>
		</h1>
		<h2 class="typo-h1">Sojourners Church</h2>
		<p class="theme-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
			sollicitudin non turpis eget fringilla. Mauris venenatis mattis velit, in
			tincidunt nisl consectetur vel. Aliquam volutpat viverra est. Morbi in
			tellus tortor. Donec tempor, sem eget maximus tincidunt, eros libero
			mattis metus, vel ultricies velit lacus quis diam.
		</p>

		<p class="typo-h2">Jesus Gone Missing</p>
		<p class="theme-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
			sollicitudin non turpis eget fringilla. Mauris venenatis mattis velit, in
			tincidunt nisl consectetur vel. Aliquam volutpat viverra est. Morbi in
			tellus tortor. Donec tempor, sem eget maximus tincidunt, eros libero
			mattis metus, vel ultricies velit lacus quis diam.
		</p>

		<p class="typo-h3">A Sermon From Luke 2</p>
		<p class="theme-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
			sollicitudin non turpis eget fringilla. Mauris venenatis mattis velit, in
			tincidunt nisl consectetur vel. Aliquam volutpat viverra est. Morbi in
			tellus tortor. Donec tempor, sem eget maximus tincidunt, eros libero
			mattis metus, vel ultricies velit lacus quis diam.
		</p>
	</main>
</Layout>

<style>
/* Perfect Fourth (1.33) */
/*.theme-hero {
	font-size: 88.55px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	line-height: 1;
	margin-bottom: 2rem;
}*/
/*.theme-h1 {
	font-size: 50.06px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.07rem;
	line-height: 1.111;
	margin-bottom: 0.8888889rem;
}*/
.theme-h2 {
	font-size: 37.64px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	line-height: 1.333;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.theme-h3 {
	font-size: 28.3px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	line-height: 1.6;
	margin-top: 1.6rem;
	margin-bottom: 0.6rem;
}
.theme-body {
	margin-top: 0;
	margin-bottom: 1.25rem;
}
</style>
