---
import Text from '#/components/Text.astro';
import Layout from '#/layouts/Layout.astro';
---

<Layout pageTitle="Theme">
	<main class="layout-base py-16">
		<Text variant="hero"
			>We exist to be and make{' '}
			<span class="text-primary">eternally joyful disciples</span></Text
		>
		<Text variant="heading-1">Sojourners Church</Text>
		<Text variant="body"
			>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
			sollicitudin non turpis eget fringilla. Mauris venenatis mattis velit, in
			tincidunt nisl consectetur vel. Aliquam volutpat viverra est. Morbi in
			tellus tortor. Donec tempor, sem eget maximus tincidunt, eros libero
			mattis metus, vel ultricies velit lacus quis diam.</Text
		>
		<Text variant="heading-2">Jesus Gone Missing</Text>
		<Text variant="body"
			>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
			sollicitudin non turpis eget fringilla. Mauris venenatis mattis velit, in
			tincidunt nisl consectetur vel. Aliquam volutpat viverra est. Morbi in
			tellus tortor. Donec tempor, sem eget maximus tincidunt, eros libero
			mattis metus, vel ultricies velit lacus quis diam.</Text
		>
		<Text variant="heading-3">Jesus Gone Missing</Text>
		<Text variant="body"
			>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
			sollicitudin non turpis eget fringilla. Mauris venenatis mattis velit, in
			tincidunt nisl consectetur vel. Aliquam volutpat viverra est. Morbi in
			tellus tortor. Donec tempor, sem eget maximus tincidunt, eros libero
			mattis metus, vel ultricies velit lacus quis diam.</Text
		>
	</main>
</Layout>
