---
import { Menu, X } from '@lucide/astro';
---

<input type="checkbox" id="menu-toggle" class="hidden">
<div class="relative z-50 size-12">
	<label for="menu-toggle" aria-label="toggle for menu" class="absolute">
		<Menu
			class="p-2 size-12 transition-all duration-300 ease-out group-has-checked:scale-0 group-has-checked:rotate-90"
		/>
	</label>
	<label for="menu-toggle" aria-label="toggle for menu" class="absolute">
		<X
			class="size-12 scale-0 rotate-90 p-2 transition-all duration-300 ease-out group-has-checked:scale-100 group-has-checked:rotate-0"
		/>
	</label>
</div>
