---
import type {
	NavigationExternalEntry,
	NavigationFeatureEntry,
	NavigationPageEntry,
} from '#/content/types/navigation';

interface Props {
	class?: string;
	entry: NavigationPageEntry | NavigationExternalEntry | NavigationFeatureEntry;
}

const { class: className = '', entry } = Astro.props;

let href: string;

switch (entry.navigationEntryType) {
	case 'external':
		href = entry.url;
		break;
	case 'feature':
		href = `/${entry.customSlug || entry.featureType}`;
		break;
	default:
		href = `/${entry.page.id}`;
}
---

<li>
	<a {href} class={className}>{entry.label}</a>
</li>
