---
import type { Variant } from '#/components/Text.astro';
import Text from '#/components/Text.astro';
import type {
	NavigationExternalEntry,
	NavigationFeatureEntry,
	NavigationPageEntry,
} from '#/content/types/navigation';

interface Props {
	class?: string;
	entry: NavigationPageEntry | NavigationExternalEntry | NavigationFeatureEntry;
	variant?: Variant;
}

const { class: className = '', entry, variant = 'navTop' } = Astro.props;

const href =
	entry.navigationEntryType === 'external'
		? entry.url
		: entry.navigationEntryType === 'page'
			? entry.page.id
			: entry.customSlug || entry.featureType;
---

<li>
	<Text as="a" {href} class={className} {variant}>{entry.label}</Text>
</li>
