---
import type {
	NavigationExternalEntry,
	NavigationFeatureEntry,
	NavigationPageEntry,
} from '#/content/types/navigation';
import { cn } from '#/lib/utils';

interface Props {
	class?: string;
	entry: NavigationPageEntry | NavigationExternalEntry | NavigationFeatureEntry;
}

const { class: className = '', entry } = Astro.props;

const href =
	entry.navigationEntryType === 'external'
		? entry.url
		: entry.navigationEntryType === 'page'
			? entry.page.id
			: entry.customSlug || entry.featureType;
---

<li>
	<a
		href={href}
		class={cn(className, "hover:underline hover:decoration-primary underline-offset-4")}
		>{entry.label}</a
	>
</li>
