---
import type { NavigationEntry } from '#/content/types/navigation';

import Control from './Control.astro';
import Group from './Group.astro';
import Link from './Link.astro';

interface Props {
	navigationEntries: NavigationEntry[];
}

const { navigationEntries } = Astro.props;
---

<!-- use classes group and group-has-checked to control behavior -->
<nav class="lg:hidden group flex">
	<Control />

	<div
		class="bg-background fixed inset-0 z-40 flex h-full translate-x-full flex-col items-center justify-center transition-all duration-200 ease-out group-has-checked:translate-none overflow-auto"
	>
		<ul class="flex flex-col gap-8">
			{navigationEntries.map((entry) => (
			entry.navigationEntryType === 'group'
			  ? <Group>
					  <span slot={'label'} class="typo-h2 text-primary">{entry.label}</span>
							{entry.children.map((childEntry) => (
					    <Link entry={childEntry} class="text-base md:text-[1.125rem] hover:underline hover:decoration-primary underline-offset-4 text-muted-foreground"/>
							))}
					</Group>
				:  <Link entry={entry} class="typo-h2 text-primary hover:underline hover:decoration-primary underline-offset-4"/>
			))}
		</ul>
	</div>
</nav>
