---
import { getConfig } from '#/content/lib/getConfig';

import { Socials } from './social';
import Text from './Text.astro';

const siteConfig = await getConfig('site');
const footerConfig = await getConfig('footer');
---

<footer class="bg-secondary text-secondary-foreground layout-base py-8">
	<section class="flex flex-col gap-8">
		{footerConfig.sections?.map((section) => (
		<div class="flex flex-col gap-2">
      <Text as="h2" variant='heading'>{section.heading}</Text>
      <span set:html={section.content} />
		</div>
    ))}
		{siteConfig.socials &&
      <div class="flex">
    		<Socials socials={siteConfig.socials} />
   	</div>}
	</section>
</footer>
