---
import { getEntry, render } from 'astro:content';
import type { GetStaticPaths } from 'astro';

import { getPageNavigationEntries } from '#/content/getters';
import { MainLayout } from '#/layouts';

export const getStaticPaths = (async () => {
	const pageNavigationEntries = await getPageNavigationEntries();

	const pagesEntries = await Promise.all(
		pageNavigationEntries.map((entry) => getEntry('pages', entry.page.id)),
	);

	const pages = pagesEntries.filter(
		(page): page is NonNullable<typeof page> => page !== undefined,
	);

	return pages.map((page) => ({
		params: { pages: page.id },
		props: { page },
	}));
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { Content } = await render(page);
---

<MainLayout pageTitle={page.data.title} class="justify-items-center">
	<div
		class="prose prose-custom prose-a:hover:decoration-primary prose-a:hover:text-foreground lg:max-w-[80ch]"
	>
		<Content />
	</div>
</MainLayout>
