---
import { getEntry, render } from 'astro:content';
import type { GetStaticPaths } from 'astro';

import { getPageNavigationEntries } from '#/content/getters';
import Layout from '#/layouts/Layout.astro';

export const getStaticPaths = (async () => {
	const pageNavigationEntries = await getPageNavigationEntries();

	const pagesEntries = await Promise.all(
		pageNavigationEntries.map((entry) => getEntry('pages', entry.page.id)),
	);

	const pages = pagesEntries.filter(
		(page): page is NonNullable<typeof page> => page !== undefined,
	);

	return pages.map((page) => ({
		params: { pages: page.id },
		props: { page },
	}));
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { Content } = await render(page);
---

<Layout pageTitle={page.data.title}>
	<main class="layout-base min-h-120 justify-items-center py-8">
		<div
			class="prose prose-custom prose-a:hover:decoration-primary prose-a:hover:text-foreground lg:max-w-[80ch]"
		>
			<Content />
		</div>
	</main>
</Layout>

<style>
.prose-custom :global(h1) {
	font-size: clamp(1.56rem, calc(2.17vw + 16.82px), 2.44rem);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.07rem;
	line-height: 1.1;
}
.prose-custom :global(h2) {
	font-size: clamp(1.25rem, calc(1.73vw + 13.53px), 1.95rem);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	line-height: 1.2;
}
.prose-custom :global(h3) {
	font-size: clamp(1rem, calc(1.38vw + 10.82px), 1.56rem);
	line-height: 1.3;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}
.prose-custom :global(h4) {
	font-size: clamp(0.8rem, calc(1.11vw + 8.64px), 1.25rem);
	line-height: 1.3;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0.01rem;
}
</style>
