---
import {
	InputGroup,
	InputGroupAddon,
	InputGroupButton,
	InputGroupInput,
} from '#/components/ui/input-group';

import FilterWrapper from './FilterWrapper.astro';

interface Props {
	type: 'from' | 'to';
}

const { type } = Astro.props;
---

<FilterWrapper>
	<span slot="label">{type.charAt(0).toUpperCase() + type.slice(1)}</span>

	<InputGroup
		class="flex-3/4 text-sm border-none hover:bg-secondary rounded-none rounded-r-sm pl-0 h-full"
		data-slot={"datepicker"}
		data-type={type}
	>
		<InputGroupInput
			id="calendar"
			type="text"
			placeholder="Choose date"
			readonly
			data-slot={"datepicker-input"}
		/>
		<InputGroupAddon align="inline-end">
			<InputGroupButton
				type="button"
				size="icon-xs"
				data-slot="datepicker-clear"
				class="hidden in-data-value:inline-flex"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					class="size-3.5 group-data-[size=sm]/input-group:size-3"
					aria-label="clear input"
				>
					<path
						fill="none"
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M18 6L6 18M6 6l12 12"
					/>
				</svg>
			</InputGroupButton>
		</InputGroupAddon>
	</InputGroup>
</FilterWrapper>
