<div class="flex border border-accent bg-muted rounded-sm h-9">
	<span
		class="border-r-accent border-r px-4 content-center self-center h-full flex-1/4 text-sm"
	>
		<slot name="label" />
	</span>
	<slot />
</div>
