---
import { cva } from "class-variance-authority";
import { cn } from "#/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const {
  class: className = "",
  ...rest
} = Astro.props as Props;

const contentVariants = cva("");
---

<div
  {...rest}
  data-slot="card-content"
  class={cn("px-6 group-data-[size=sm]/card:px-4", contentVariants(), className)}
>
  <slot />
</div>
