---
import {
	NavigationMenuLink,
	navigationMenuTriggerStyle,
} from '#/components/ui/navigation-menu';
import type {
	NavigationExternalEntry,
	NavigationFeatureEntry,
	NavigationPageEntry,
} from '#/content/navigation/types';
import { cn } from '#/lib/utils';

interface Props {
	entry: NavigationPageEntry | NavigationExternalEntry | NavigationFeatureEntry;
	isChild?: boolean;
	isMobile?: boolean;
}

const { entry, isChild = false, isMobile = false } = Astro.props;

const href =
	entry.navigationEntryType === 'external'
		? entry.url
		: entry.navigationEntryType === 'page'
			? entry.page.id
			: entry.customSlug || entry.featureType;
---

{isMobile
  ? <li class={cn(isChild ? "text-muted-foreground font-bold uppercase text-xl" : "text-5xl font-bold text-primary uppercase")}><a href={href}>{entry.label}</a></li>
 :  <NavigationMenuLink
	href={href}
	class={cn(!isChild && navigationMenuTriggerStyle())}
 >
	<div class="flex flex-col gap-1">
		<div class="leading-none font-medium">{entry.label}</div>
	</div>
 </NavigationMenuLink>}
